@media (max-width:768px) {
    .side-nav-fixed{
        position: fixed;
        right: 0;
        left: 0;
        padding: 0;
        bottom: unset;
        top: unset;
        display: flex;
        flex-direction: row;
    }

    .background{
        height: max-content;
        overflow: unset;
    }

    .home-logo{
        margin: 0;
    }

    .side-upper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .side-down{
        display: none;
    }
    nav,.side-upper .desktop{
    display: none;
    }

    .content{
        margin: 0;
    }
    .background, .Hero{
        overflow: hidden;
    }
    .Hero{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .head-hero{
        font-size: 48px;
        padding: 20px;
    }
    .img-hero{
        width: 500px;
        bottom: 0;
        right: unset;
        left: -120px;
        position: absolute;
        /* display: none; */
        z-index: 0;
    }
    .hero-container{
        width: 100%;
       
        flex-direction: column;
        align-items: center;
    }
    .hero-text{
        width: 100%;
        z-index: 5;
        align-items: center;
        position: relative;
       
    }
    .hero-text-upper{
        text-align: center;
    }
    .hero-text-middle{
        te
    }


}